

*::-webkit-input-placeholder{
	color: #666;
	opacity: 1;
}
	
*:-moz-placeholder{
	color: #666;
	opacity: 1;
}
	
*::-moz-placeholder{
	color: #666;
	opacity: 1;
}
	
*:-ms-input-placeholder{
	color: #666;
	opacity: 1;
}
	

h1, h2, h3, h4, h5{
	padding: 0px;
	margin: 0px;
}

body{
	line-height: 1.6;
	padding: 0px;
	margin: 0px;
	position: relative;
	height: 100%;
	cursor: url('img/axx.png');
}
ul{
	margin: 0px;
	padding: 0px;
}
li{
	list-style: none;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.container{
	max-width: 100%;
	padding: 0px 15px;
	position: relative;
}
/*font-family: 'Pacifico', cursive;*/
/*GAME OVER BLOCK*/
/*dick*/
.main{
	background-image: url('../img/aqua.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	/*height: 100vh;*/
	text-align: center;
	height: 100%;
	padding-bottom: 120px;
	position: relative;
}
.main .h2{
	background: linear-gradient(0deg, blue 50%, white);
	font-family: 'Pacifico', cursive;
	font-size: 30px;
	color: #fff;
	display: inline-block;
	padding: 15px 30px;
	letter-spacing: 3px;
	margin-top: 30px;
}
#picture-wrap{
	position: relative;
	max-height: 500px;
	height: 500px;
	width: 717px;
	max-width: 717px;
	margin: 40px auto;
	z-index: 0;
}
#picture-wrap::after{
	background-image: url('../img/molbert.png');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	content: "";
	position: absolute;
	top: -10%;
	left: 0%;
	width: 100%;
	height: 140%;
	z-index: -1;
	/*transform: translateX(-50%);*/
}
.main .buttons{
	position: fixed;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.main .buttons .button{
	padding: 15px 0px;
	outline: none;
	background-color: #cdcdcd;
	opacity: 0.8;
	font-family: 'Pacifico', cursive;
	color: #1b0606;
	display: block;
	margin-bottom: 10px;
	width: 60px; 
	transition: all 0.5s ease;
}
.main .buttons .button:hover span{
	letter-spacing: 2px;
	transition: all 0.5s ease;
}
.main .buttons .button:hover{
	opacity: 0.5;
	transition: all 0.5s ease;
}
.main .inputs{
	position: fixed;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	width: 70px;
	z-index: 2;
	text-align: center;
	background-color: #cdcdcd;
	opacity: 0.8;
	padding: 10px;	
}
.main .inputs .input{
	display: block;
	

}
.main .inputs #circle{
	width: 5px;
	height: 5px;
	background-color: #000;
	border-radius: 50%;
	margin: 0px 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.main .inputs #color{
	width: 30px;
	height: 30px;
	border: 1px solid #cdcdcd;
	background-color: red;
	border: 1px solid #fff;
	margin-bottom: 85px;
}
.main .inputs #slider{
	width: 70px;
	height: 10px;
}
.to-choose{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 50px;
	border: 3px solid #fff;
	text-align: center;
	background: linear-gradient(0deg, blue 50%, white);
	opacity: 0.9;
}
.wrap-to-choose{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.to-choose .color-item{
	width: 30px;
	height: 30px;
	display: inline-block;
	float: left;
	margin-right: 10px;
	border: 1px solid #fff;
}

/*active erase mode*/
.erase.button.active-erase{
	background-color: red;
	opacity: 0.8;
	color: #fff;
}
.erase.active-erase #erase{
	background-color: red;
	opacity: 0.8;
	color: #fff;
}